/* Importation de la police 'Poppins' avec différents poids */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;  
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    width: 100%;
    background-color: black;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo{
    font-size: 3rem;/* Taille de police de 3rem */
    color: #b74b4b; /* Couleur du texte */
    font-weight: 800;/* Poids de la police très gras */
    cursor: default;/* Change le curseur en pointeur (main) */
    transition: 0.5s ease;/* Transition douce de 0.5s pour les changements de style */
}

.logo:hover{
    transform: scale(1.1);/* Agrandit légèrement le logo lorsqu'on passe la souris dessus */
}


.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.liens-gauche {
    display: flex;
    gap:20px;
}

.liens-droite {
    display: flex;
    gap: 20px;
}

.logo {
    color:#b74b4b;
    font-size: 3rem;
    font-weight: 800;
    cursor: default;
    transition: 0.5s ease;
}
